<!-- <p>Patient NAme : <input [(ngModel)]="Patients.pname"></p>
  <p>Patient Age : <input [(ngModel)]="Patients.age"></p>
  <p>PAtient Disease : <input [(ngModel)]="Patients.disease"></p>

  <p><button (click)="savePatients()">savePatients</button></p>

  <hr>
  
<table class="table">
  <th>NAme</th><th>Age</th><th>disease</th><th>Action</th>
  <tr *ngFor="let p of PatientArray">
  <td>{{p.data.pname}}</td>
  <td>{{p.data.age}}</td>
  <td>{{p.data.disease}}</td>
  <td><button (click)="delPatient(p.keyval)">Delete</button></td></tr>
</table> -->